@page
@model WeatherZilla.WebApp.Pages.AddcityModel
@{ 
    ViewData["Title"] = "WeatherZilla - Add favorites";
}
<h1>Add favorite cities</h1>
<p></p>
<div>
    <form method="post" >
        <fieldset>
          <legend>Search for place to add</legend>
          <div>
            <label for="place">Place:</label>
            <input type="text" name="Place" value="" />
            <input type="submit" value="Submit" class="submit" />
          </div>
          <div>
            <label>&nbsp;</label>
          </div>
        </fieldset>
      </form>
</div>
<div>You searched for: @Model.Place</div>