@page
@model ErrorModel
@{
    ViewData["Title"] = "WeatherZilla - An error occurred";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    @Model.ErrorInfoToUser
</p>

<br>

@if (@Model.IsDevelopment)
{

    <h3>Development Mode</h3>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

}
