@page
@model WeatherZilla.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "WeatherZilla";
}
<div class="text-center">
    <h1 class="display-4">Welcome to a Spiffier Weather 😎 !!</h1>
</div>
<div>
    <br>
    <p>It's <b>@Model.Temperature°C</b> in @Model.Place right now.</p>
    <br>
    <br>

@if (!string.IsNullOrWhiteSpace(Model.DebugData))
{
    <p class="debugInfo"><strong>Debug:</strong>&nbsp;@Model.DebugData</p>        
}

</div>
