@page
@model WeatherZilla.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "WeatherZilla";
}
<div class="text-center">
    <h1 class="display-4">Welcome to a Spiffier Weather 😎 !!</h1>
</div>
<div>
    <br>
    <p>It's&nbsp;<b>@Model.Temperature°C</b>&nbsp;in&nbsp;<i>@Model.Place</i>&nbsp;right now.</p>
	<button id="locationButton" type="button" class="greenbtn" onclick="getLocation()">Use Actual Location</button>
    <br>
    <br>

@if (!string.IsNullOrWhiteSpace(Model.DebugData))
{
    <p class="debugInfo"><strong>Debug:</strong>&nbsp;@Model.DebugData</p>        
}

</div>

<script type="text/javascript">
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(useLocation);
		}
	};

	function useLocation(position) {
		window.location.replace('?longitude=' + position.coords.longitude + '&latitude=' + position.coords.latitude);
	};
</script>
