@page
@model WeatherZilla.Pages.AddcityModel
@{
}
<h1>Add favorite cities</h1>
<p>Here you can add the cities you want to check weather for</p>
<p>Here we will add a textbox that searches in data taken from the API and autocompletes...</p>